body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: white;
  
}

.panel
{
    
    max-width: 550px; 
    margin: 0 auto;
}

.form-signin {
  max-width: 190px;
  
  padding: 1px;
  margin: 20px auto  10px;
}
.panel-heading{ padding: 20px;}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}

.form-signin .form-control {
    
 
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 13px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-bottom: 5px;
}
.form-signin input[type="password"] {
  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 5px;
}
.input-group
{
    
  padding-bottom: 3px; 
}
#respond
{
 padding-bottom: 5px;   
}

/*----TAMBAHAN---*/

label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-size: 8;
}